<ion-header>
  <ion-toolbar>
    <ion-icon name="globe-outline" style="margin-left: 38%; font-size:30px;"></ion-icon>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="tools"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
    <br><br>
    <ion-item color="none" lines="full" style="padding-bottom: 10%;" class="stat">
      <img src="/assets/pics/gg.png">
    </ion-item>
    <ion-item color="none" lines="none">
      <ion-label [ngStyle]="{'font-weight':'bolder'}"><p style="float: left">Connection Type</p></ion-label>
      <ion-label class="itemcolor"><p style="float: right" routerLink="/quicksetup">Dynamic IP</p></ion-label>
    </ion-item>
    <ion-item color="none" lines="none">
      <ion-label [ngStyle]="{'font-weight':'bolder'}"><p style="float: left">IP Address</p></ion-label>
      <ion-label class="itemcolor"><p style="float: right">10.0.0.56</p></ion-label>
    </ion-item>
    <ion-item color="none" lines="none">
      <ion-label [ngStyle]="{'font-weight':'bolder'}"><p style="float: left">Default Gateway</p></ion-label>
      <ion-label class="itemcolor"><p style="float: right">10.0.0.10</p></ion-label>
    </ion-item>
    <ion-item color="none" lines="none">
      <ion-label [ngStyle]="{'font-weight':'bolder'}"><p style="float: left">Primary DNS</p></ion-label>
      <ion-label class="itemcolor"><p style="float: right">10.0.0.10</p></ion-label>
    </ion-item>
    <ion-item color="none" lines="none">
      <ion-label [ngStyle]="{'font-weight':'bolder'}"><p style="float: left">Secondary DNS</p></ion-label>
      <ion-label class="itemcolor"><p style="float: right">0.0.0.0</p></ion-label>
    </ion-item>

</ion-content>
