<ion-header>
  <ion-toolbar>
    <ion-icon name="settings" style="margin-left: 38%; font-size:30px;"></ion-icon>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="tools"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content><br><br>
  
  <div id="container">
    <img src="/assets/pics/Turning+Gear.gif" style = "margin-top: 18%;">
      <ion-button shape="round" expand="block" (click)="presentActionSheet()" style="margin-top: 50%;"><ion-icon slot="start" name="sync-circle" style="font-size:30px;"></ion-icon><b>Reboot</b></ion-button>
  </div>
  

</ion-content>

