ion-content {
    --background: none;
    background-image: url('/assets/pics/bg2.jpg');
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
  }
.icon {
    font-size: 64px;
    margin-left: 1%;
    margin-top: 2%;
   }
#container {
    text-align: center;
  
    left: 0;
    right: 0;
    top: 10%;
    transform: translateY(-50%);
    height: 100px;
    background: none;
    margin-top: 10%;
  }
ion-item{
    background-color: none;
    font-size: 20px;
    padding: 1%;
}
h3{
    font-size:65px;
}
.low{
   opacity: 75%;
   --padding-bottom: 3%;
}
ion-button{
    width: 400px;
    font-size: 20px;
    margin-left:1.5%;
    --background-activated-opacity: 45%;
    opacity: 75%;
}