ion-content {
    --background: none;
    background-image: url('/assets/pics/bg2.jpg');
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
  }
#containerOne{
    background-color: #a7a9e2;
    height: 35%;
  }
.itemcolor{
    opacity: 55%;
  }
ion-item{
  --padding-top: 5%;
}
p{
  font-size: 18px;
}