<ion-content>
  <div id="containerOne">
    <img src="/assets/pics/status.png" style="margin-top: 8%">
    <ion-item color="none" lines="none" *ngFor="let about of abouts">
      <ion-label [ngStyle]="{'font-weight':'bolder'}"><p style="float: left;">{{about.class}}</p></ion-label>
      <ion-label class="itemcolor"><p style="float: right" routerLink="/quicksetup">{{about.spec}}</p></ion-label>
    </ion-item>
  </div>
</ion-content>
