ion-content {
    --background: none;
    background-image: url('/assets/pics/bg2.jpg');
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
  }
.icon {
    font-size: 64px;
    margin-left: 1%;
    margin-top: 2%;
   }
#container {
    text-align: left;
  
    left: 0;
    right: 0;
    top: 10%;
    transform: translateY(-50%);
    height: 100px;
    background: none;
    margin-top: 10%;
    margin-left: 2%;
  }
  h1{
      font-size:25px;
      padding: 5%;
      font-weight: bolder;
  }
  p{
    padding: 8%;
    font-size: 18px;
    color: rgb(255, 255, 255);
}
.ast{
    color: rgb(139, 136, 136);
}
.pad{
    margin-right:3%;
    font-size:25px;
}
ion-badge{
    font-size: 20px;
}
ion-button{
    margin-left: 13%;
    margin-bottom:10%;
}