<ion-header>
  <ion-toolbar>
    <ion-icon name="options" style="margin-left: 38%; font-size:30px;"></ion-icon>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="tools"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content><br><br>
  <div id="container">
    <ion-item color="none" lines="none">
      <ion-label style="font-weight: bold;"><h1>Enable QoS</h1></ion-label>
      <ion-toggle slot="end" disabled="false" [(ngModel)]="enqos"></ion-toggle>
    </ion-item>
    <ion-label  class="ion-text-justify"><p>QoS (Quality of Service) allows you to prioritize the connection of specific devices for a set duration. Devices set as high priority will allocated more bandwidth and so continue to run smoothly even when there is heavy traffic on the network.</p></ion-label>
    <ion-label  class="ion-text-justify"><p class="ast">*to use QoS, set total bandwidth.</p></ion-label>
    <ion-item class="pad" color="none" *ngIf="enqos">
      <ion-label position="floating">Egress Bandwidth</ion-label>
      <ion-badge slot="end">Kbps</ion-badge>
      <ion-input inputmode="numeric"></ion-input>
    </ion-item>
    <ion-item class="pad" color="none" *ngIf="enqos">
        <ion-label position="floating">Ingress Bandwidth</ion-label>
        <ion-badge slot="end">Kbps</ion-badge>
        <ion-input inputmode="numeric"></ion-input>
    </ion-item><br>
    <ion-button shape="round" routerLink="/menu" [ngStyle] = "{'font-size':'20px', 'width':300+'px'}" *ngIf="enqos">Save</ion-button>
  </div>

</ion-content>
