<ion-header>
  <ion-toolbar>
    <ion-icon name="swap-horizontal" style="margin-left: 38%; font-size:30px;"></ion-icon>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="tools"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content><br><br>
  <div id="container">
    <ion-radio-group>
      <ion-card *ngFor = "let mode of modes" >
        <ion-item color="none" lines="full">
          <ion-label><b>{{mode.name}}</b></ion-label>
          <ion-radio slot="end"></ion-radio>
        </ion-item>
        <ion-item color="none" lines="none">
          <p style="color:rgb(158, 147, 147);">{{mode.des}}</p>
        </ion-item>
        <ion-item color="none" lines="none">
          <img src="{{mode.pic}}">
        </ion-item>
      </ion-card><br>
    </ion-radio-group>
    
  </div>

</ion-content>
