<ion-header>
  <ion-toolbar>
    <ion-icon name="bulb" style="margin-left: 38%; font-size:30px;"></ion-icon>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="tools"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content><br><br>
  <div id="container">
    <ion-item color="none" lines="full">
      <ion-label style="font-weight: bold;">LED Status</ion-label>
      <ion-toggle slot="end" disabled="false"></ion-toggle>
    </ion-item>
    <ion-item color="none" lines="none">
      <ion-label style="font-weight: bold;">Night Mode</ion-label>
      <ion-toggle slot="end" disabled="false" [(ngModel)]="nightmode"></ion-toggle>
    </ion-item>
    <ion-label><p>when enabled, the LEDs will be off automatically during the specified period everyday.</p></ion-label>
    <br>
    <ion-item class="low" color="none" lines="none" *ngIf="nightmode">
      <ion-label>From:</ion-label>
      <ion-datetime displayFormat="h:mm A"></ion-datetime>
    </ion-item>
    <ion-item class="low" color="none" lines="none" *ngIf="nightmode">
      <ion-label>To:</ion-label>
      <ion-datetime displayFormat="h:mm A"></ion-datetime>
    </ion-item><br>
  </div>

</ion-content>
