<ion-content>
  
  
  <ion-tabs>
    <ion-tab-bar slot="bottom" >
  
      <ion-tab-button tab="status">
        <ion-icon name="pulse-outline"></ion-icon>
        <ion-label>Status</ion-label>
      </ion-tab-button>
  
      <ion-tab-button tab="clients">
        <ion-icon name="desktop"></ion-icon>
        <ion-label>Clients</ion-label>
      </ion-tab-button>
  
      <ion-tab-button tab="tools">
        <ion-icon name="construct"></ion-icon>
        <ion-label>Tools</ion-label>
      </ion-tab-button>
      <ion-tab-button routerLink="/home">
        <ion-icon name="log-out"></ion-icon>
        <ion-label>Logout</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
  
</ion-content>
