<ion-header>
  <ion-toolbar>
    <ion-icon name="today" style="margin-left: 38%; font-size:30px;"></ion-icon>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="tools"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content><br><br>
  <div id="container">
    <ion-label><h1>Set Time and Day</h1></ion-label>
    <br>
    <ion-item-divider>
      <ion-label>TIME</ion-label>
    </ion-item-divider><br>
    <ion-item class="low" color="none" lines="full">
      <ion-label>From:</ion-label>
      <ion-datetime displayFormat="h:mm A"></ion-datetime>
    </ion-item>
    <ion-item class="low" color="none" lines="full">
      <ion-label>Until:</ion-label>
      <ion-datetime displayFormat="h:mm A"></ion-datetime>
    </ion-item><br>
    <ion-item-divider>
      <ion-label>DAY</ion-label>
    </ion-item-divider><br>
    <ion-item color="none" lines="full" class="low"  *ngFor = "let day of days" >
      <ion-label>{{day.name}}</ion-label>
      <ion-checkbox slot="end"></ion-checkbox>
    </ion-item>
    
    <br><br>
    <ion-button shape="round" routerLink="/parentalcontrols" [ngStyle] = "{'font-size':'20px', 'width':300+'px'}">Save</ion-button>
  </div>

</ion-content>
