<ion-header>
  <ion-toolbar>
    <ion-icon name="share-social" style="margin-left: 38%; font-size:30px;"></ion-icon>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="tools"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content><br><br>
  <div id="container">
    <ion-label><h1>Share Wi-Fi</h1></ion-label>
    <ion-label><p>Wi-Fi sharing is a convenient way of using your laptop or smartphone to share your Wi-Fi connection with other devices. Not only does this help you save on mobile data, but it makes the internet all the more accessible</p></ion-label>
    <ion-item-divider>
      <ion-label class="network">Main Network</ion-label>
    </ion-item-divider>
    <ion-card>
      <ion-item lines= "none" color="dark" style="--padding-bottom: 5%;">
        <img src="/assets/pics/qr.png" class="center">
      </ion-item>
      <ion-item lines= "none" color="none">
        <ion-icon name="wifi" slot="start"></ion-icon>
        <ion-label>Wifi One</ion-label>
        <ion-badge slot="end">2.4Ghz</ion-badge>
      </ion-item>
      <ion-item lines= "none" color="none" style="--padding-bottom: 5%;">
        <ion-icon name="lock-open" slot="start"></ion-icon>
        <ion-label>w1Fi_0n3</ion-label>
      </ion-item>
    </ion-card>
    <ion-card>
      <ion-item lines= "none" color="dark" style="--padding-bottom: 5%;">
        <img src="/assets/pics/qr.png" class="center">
      </ion-item>
      <ion-item lines= "none" color="none">
        <ion-icon name="wifi" slot="start"></ion-icon>
        <ion-label>Wifi Two</ion-label>
        <ion-badge slot="end" style="--background: yellow">5Ghz</ion-badge>
      </ion-item>
      <ion-item lines= "none" color="none" style="--padding-bottom: 5%;">
        <ion-icon name="lock-open" slot="start"></ion-icon>
        <ion-label>w1Fi_Tw0</ion-label>
      </ion-item>
    </ion-card>
    <ion-item-divider>
      <ion-label class="network">Guest Network</ion-label>
      <ion-toggle slot="end" [(ngModel)]="gn"></ion-toggle>
    </ion-item-divider>
    <ion-card *ngIf="gn">
      <ion-item lines= "none" color="dark" style="--padding-bottom: 5%;">
        <img src="/assets/pics/qr.png" class="center">
      </ion-item>
      <ion-item lines= "none" color="none">
        <ion-icon name="wifi" slot="start"></ion-icon>
        <ion-label>Guest Wifi One</ion-label>
        <ion-badge slot="end">2.4Ghz</ion-badge>
      </ion-item>
      <ion-item lines= "none" color="none" style="--padding-bottom: 5%;">
        <ion-icon name="lock-open" slot="start"></ion-icon>
        <ion-label>Gu35t_w1Fi_0n3</ion-label>
      </ion-item>
    </ion-card>
    <ion-card *ngIf="gn">
      <ion-item lines= "none" color="dark" style="--padding-bottom: 5%;">
        <img src="/assets/pics/qr.png" class="center">
      </ion-item>
      <ion-item lines= "none" color="none">
        <ion-icon name="wifi" slot="start"></ion-icon>
        <ion-label>Guest Wifi Two</ion-label>
        <ion-badge slot="end" style="--background: yellow">5Ghz</ion-badge>
      </ion-item>
      <ion-item lines= "none" color="none" style="--padding-bottom: 5%;">
        <ion-icon name="lock-open" slot="start"></ion-icon>
        <ion-label>Gu35t_w1Fi_Tw0</ion-label>
      </ion-item>
    </ion-card>
    <br>
    <ion-button shape="round" routerLink="/menu" [ngStyle] = "{'font-size':'20px', 'width':300+'px'}">Save</ion-button>
  </div>

</ion-content>

