ion-content {
    --background: none;
    background-image: url('/assets/pics/bg2.jpg');
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
  }
.icon {
    font-size: 64px;
    margin-left: 1%;
    margin-top: 2%;
   }
#container {
    text-align: left;
  
    left: 0;
    right: 0;
    top: 10%;
    transform: translateY(-50%);
    height: 100px;
    background: none;
    margin-top: 10%;
  }
  h1{
      font-size:25px;
      padding: 5%;
      font-weight: bolder;
  }
  p{
    padding: 5%;
    font-size: 18px;
}
ion-item{
    background-color: none;
    font-size: 20px;
}
img{
    padding-top: 5%;
}
ion-card{
    border-radius: 50px;
}
.center {
    display: block;
    margin-left: 20%;
    margin-right: auto;
  }
  .network{
      font-size: 20px;
      padding: 3%;
  }
  ion-button{
      margin-left:14%;
      margin-bottom: 5%;
  }