ion-content {
    --background: none;
    background-image: url('/assets/pics/bg2.jpg');
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
  }
  ion-title{
    color: #a7a9e2
  }
  .icon{
    font-size: 30px;
  }
  #container {
    text-align: center;
  
    left: 0;
    right: 0;
    top: 10%;
    transform: translateY(-50%);
    height: 100px;
    background: none;
    margin-top: 10%;
  }
  .network{
    font-size: 18px;
}