<ion-header color="none">
  <ion-toolbar >
    <ion-title><ion-icon name="desktop" class="icon"></ion-icon></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
    <ion-item-divider>
      <ion-label class="network">2.4GHz Clients</ion-label>
    </ion-item-divider>
    <ion-item *ngFor="let dev of devices" color="none" lines="full">
      <ion-icon name="{{dev.icon}}" class="icon" style="padding-right:5%;"></ion-icon>
      <ion-label>
        <h2 style="font-size: 25px;"><b>{{dev.name}}</b></h2>
        <p style="color: rgb(182, 174, 174)">{{dev.ip}}</p>
      </ion-label>
    </ion-item>
    <ion-item-divider>
      <ion-label class="network">5GHz Clients</ion-label>
    </ion-item-divider>
    <ion-item *ngFor="let five of fives" color="none" lines="full">
      <ion-icon name="{{five.icon}}" class="icon" style="padding-right:5%;"></ion-icon>
      <ion-label>
        <h2 style="font-size: 25px;"><b>{{five.name}}</b></h2>
        <p style="color: rgb(182, 174, 174)">{{five.ip}}</p>
      </ion-label>
    </ion-item>
    <ion-item-divider>
      <ion-label class="network">Wired Clients</ion-label>
    </ion-item-divider>
    <ion-item *ngFor="let wire of wires" color="none" lines="full">
      <ion-icon name="{{wire.icon}}" class="icon" style="padding-right:5%;"></ion-icon>
      <ion-label>
        <h2 style="font-size: 25px;"><b>{{wire.name}}</b></h2>
        <p style="color: rgb(182, 174, 174)">{{wire.ip}}</p>
      </ion-label>
    </ion-item>

  </div>
  
  
</ion-content>