<ion-header>
  <ion-toolbar>
    <ion-icon name="shield-checkmark" style="margin-left: 38%; font-size:30px;"></ion-icon>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="tools"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content><br><br>
  <div id="container">
    <ion-label><h1>Parental Controls</h1></ion-label>
    <ion-label><p>Control the sites specific devices can access and manage the time spent surfing the net.</p></ion-label>
    <br><br>
    <ion-item color="none" lines="full">
      <ion-label style="font-weight: bold;">Parental Controls</ion-label>
      <ion-toggle slot="end" disabled="false" [(ngModel)]="parent"></ion-toggle>
    </ion-item>
    <ion-item color="none" lines="full" *ngIf="parent" routerLink="/schedule">
      <ion-label style="font-weight: bold;">Schedule</ion-label>
    </ion-item>
    <ion-item color="none" lines="none" *ngIf="parent" routerLink="/allowedwebsite">
      <ion-label style="font-weight: bold;">Allowed Websites</ion-label>
    </ion-item>
  </div>

</ion-content>
