<ion-header>
  <ion-toolbar>
    <ion-icon name="build" style="margin-left: 38%; font-size:30px;"></ion-icon>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="tools"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div id="container">
    <br><br><br>
    <ion-label><h1>Select your connection type.</h1></ion-label>
    <ion-label><p>Note: If you are not sure about which connection type to select, please consult your ISP.</p></ion-label>
    <ion-radio-group value="dynamic"><br><br>
        <ion-item color="none">
          <ion-label>Dynamic IP</ion-label>
          <ion-radio slot="end" value="dynamic"></ion-radio>
        </ion-item>
    
        <ion-item color="none">
          <ion-label>Static IP</ion-label>
          <ion-radio slot="end" value="static"></ion-radio>
        </ion-item>
    
        <ion-item color="none">
          <ion-label>PPoE</ion-label>
          <ion-radio slot="end" value="ppoe"></ion-radio>
        </ion-item>
        <ion-item color="none">
          <ion-label>L2TP</ion-label>
          <ion-radio slot="end" value="l2tp"></ion-radio>
        </ion-item>
        <ion-item color="none">
          <ion-label>PPTP</ion-label>
          <ion-radio slot="end" value="pptp"></ion-radio>
        </ion-item>
    </ion-radio-group>
  </div>

</ion-content>
