<ion-header color="none">
  <ion-toolbar >
    <ion-title><ion-icon name="construct" class="icon"></ion-icon></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card style="opacity:55%">
    <ion-item color="none" lines="full" routerLink="/quicksetup">
      <ion-icon name="build" class="icontwo"></ion-icon>
      <ion-label class="text">Quick Setup</ion-label>
    </ion-item>
    <ion-item color="none" lines="full" routerLink="/wireless">
      <ion-icon name="wifi" class="icontwo"></ion-icon>
      <ion-label class="text">Wireless</ion-label>
    </ion-item>
    <ion-item color="none" lines="none" routerLink="/internetconnection">
      <ion-icon name="globe-outline" class="icontwo"></ion-icon>
      <ion-label class="text">Internet Connection</ion-label>
    </ion-item>
  </ion-card>
  <ion-card style="opacity:55%">
    <ion-item color="none" lines="full" routerLink="/parentalcontrols">
      <ion-icon name="shield-checkmark" class="icontwo"></ion-icon>
      <ion-label class="text">Parental Controls</ion-label>
    </ion-item>
    <ion-item color="none" lines="full" routerLink="/qos">
      <ion-icon name="options" class="icontwo"></ion-icon>
      <ion-label class="text">QoS</ion-label>
    </ion-item>
    <ion-item color="none" lines="full" routerLink="/guest">
      <ion-icon name="people" class="icontwo"></ion-icon>
      <ion-label class="text">Guest Network</ion-label>
    </ion-item>
    <ion-item color="none" lines="full" routerLink="/sharewifi">
      <ion-icon name="share-social" class="icontwo"></ion-icon>
      <ion-label class="text">Share Wi-Fi</ion-label>
    </ion-item>
    <ion-item color="none" lines="none" routerLink="/ledcontrol">
      <ion-icon name="bulb" class="icontwo"></ion-icon>
      <ion-label class="text">LED Control</ion-label>
    </ion-item>
  </ion-card>
  <ion-card style="opacity:55%">
    <ion-item color="none" lines="full" routerLink="/operationmode">
      <ion-icon name="swap-horizontal" class="icontwo"></ion-icon>
      <ion-label class="text">Operation Mode</ion-label>
    </ion-item>
    <ion-item color="none" lines="none" routerLink="/system">
      <ion-icon name="settings" class="icontwo"></ion-icon>
      <ion-label class="text">Reboot</ion-label>
    </ion-item>
  </ion-card>
  
  
</ion-content>
