ion-content {
    --background: none;
    background-image: url('/assets/pics/bg2.jpg');
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
  }
  ion-item{
    font-size: 25px;
    padding: 10px;
  }
  ion-title{
    color: #a7a9e2
  }
  .icon{
    font-size: 30px;
  }
  .icontwo {
    display: inline-block;
    font-size: 35px;
    vertical-align: middle;
   }
   .text{
    display: inline-block;
    vertical-align: middle;
    margin-left: 5%;
    padding: 2%;
  }
  ion-tab-bar {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}