<ion-header>
  <ion-toolbar>
    <ion-icon name="browsers" style="margin-left: 38%; font-size:30px;"></ion-icon>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="tools"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content><br><br>
  <div id="container">
    <ion-label><h1>Blocked Websites</h1></ion-label>
    <br>
    <ion-item-divider>
      <ion-label>Websites</ion-label>
    </ion-item-divider><br>
    <ion-item color="none" lines="full" class="low"  *ngFor = "let website of websites" >
      <ion-icon name="{{website.icon}}" style="font-size:20px; margin-right: 3%;"></ion-icon>
      <ion-label>{{website.url}}</ion-label>
      <ion-checkbox slot="end"></ion-checkbox>
    </ion-item><br><br>
    <ion-button shape="round" routerLink="/parentalcontrols" [ngStyle] = "{'font-size':'20px', 'width':300+'px'}">Save</ion-button>
  </div>

</ion-content>
