<ion-content [fullscreen]="true">
  <ion-item class="item-background-color">
      <img src="/assets/pics/logo.png" id="logo">
  </ion-item>
  <div id="container">
    <img src="https://www.pngkey.com/png/full/114-1149847_avatar-unknown-dp.png" width = "100px" height = "100px"><br><br><br>
  </div>  
    <ion-card color="none">
      <ion-input placeholder="Username" clearInput [ngStyle] = "{'font-size':'30px', 'margin-left':5+'px'}"></ion-input><br>
    </ion-card>
    <ion-card color="none">
      <ion-input placeholder="Password" clearInput type="password" [ngStyle] = "{'font-size':'30px', 'margin-left':5+'px'}"></ion-input><br>
    </ion-card>
    <br><br><br>
    <div id="container">
      <ion-button shape="round" routerLink="/menu" [ngStyle] = "{'font-size':'20px', 'width':300+'px'}">LOGIN</ion-button>
    </div>
                                                     
</ion-content>
