#container {
  text-align: center;

  left: 0;
  right: 0;
  top: 10%;
  transform: translateY(-50%);
  height: 100px;
  background: none;
  margin-top: 20%;
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #ee0fd8;

  margin: 0;
}

#container a {
  text-decoration: none;
}
.form-control {
  fill: none;
  background: none;
  border: none;
  font-size: 25px;
  margin-bottom: 16px;
}
#logo{
  background-repeat: no-repeat;
  width: 300px;
  margin-left: 10px;
}
.item-background-color{
  --ion-item-background:#a7a9e2;
}
ion-content {
  --background: none;
  background-image: url('/assets/pics/bg2.jpg');
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
}
