<ion-header>
  <ion-toolbar>
    <ion-icon name="wifi" style="margin-left: 38%; font-size:30px;"></ion-icon>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="tools"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div id="container">
    <ion-card style="opacity:70%">
      <ion-item color="primary" lines="full">
        <ion-label style="font-weight: bolder; font-size: 25px;">2.4GHz</ion-label>
      </ion-item>
      <ion-item color="none" lines="none">
        <ion-label style="font-weight: bold;">Wireless</ion-label>
        <ion-toggle slot="end" checked = "true" [(ngModel)]="twog"></ion-toggle>
      </ion-item><br>
      <ion-item color="none" lines="none" *ngIf="twog">
        <ion-label color="#aca0a0"><p>Network Name</p></ion-label>
      </ion-item>
      <ion-item color="none" lines="inset" style="margin-right: 7%;" *ngIf="twog">
        <ion-input value="Wifi One" clearInput type="text" [ngStyle] = "{'font-size':'25px'}"></ion-input><br>
      </ion-item><br>
      <ion-item color="none" lines="none" *ngIf="twog">
        <ion-label color="#aca0a0"><p>Password</p></ion-label>
      </ion-item>
      <ion-item color="none" lines="inset" style="margin-right: 7%;"*ngIf="twog">
        <ion-input value="w1Fi_0n3" clearInput type="password" [ngStyle] = "{'font-size':'25px'}"></ion-input><br>
      </ion-item><br><br>
    </ion-card>
    <ion-card style="opacity:70%">
      <ion-item color="primary" lines="full">
        <ion-label style="font-weight: bolder; font-size: 25px;">5GHz</ion-label>
      </ion-item>
      <ion-item color="none" lines="none">
        <ion-label style="font-weight: bold;">Wireless</ion-label>
        <ion-toggle slot="end" checked="true" [(ngModel)]="fiveg"></ion-toggle>
      </ion-item><br>
      <ion-item color="none" lines="none" *ngIf="fiveg">
        <ion-label color="#aca0a0"><p>Network Name</p></ion-label>
      </ion-item>
      <ion-item color="none" lines="inset" style="margin-right: 7%;" *ngIf="fiveg">
        <ion-input value="Wifi Two" clearInput type="text" [ngStyle] = "{'font-size':'25px'}"></ion-input><br>
      </ion-item><br>
      <ion-item color="none" lines="none" *ngIf="fiveg">
        <ion-label color="#aca0a0"><p>Password</p></ion-label>
      </ion-item>
      <ion-item color="none" lines="inset" style="margin-right: 7%;" *ngIf="fiveg">
        <ion-input value="w1Fi_Tw0" clearInput type="password" [ngStyle] = "{'font-size':'25px'}"></ion-input><br>
      </ion-item><br>
    </ion-card><br>
    <div id="container">
      <ion-button shape="round" routerLink="/menu" [ngStyle] = "{'font-size':'20px', 'width':300+'px'}">Save</ion-button>
    </div>
  </div>

</ion-content>
