ion-content {
    --background: none;
    background-image: url('/assets/pics/bg2.jpg');
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
  }
.icon {
    font-size: 64px;
    margin-left: 1%;
    margin-top: 2%;
   }
#container {
    text-align: left;
  
    left: 0;
    right: 0;
    top: 10%;
    transform: translateY(-50%);
    height: 100px;
    background: none;
    margin-top: 10%;
    margin-left: 2%;
  }
  h1{
      font-size:25px;
      padding: 5%;
      font-weight: bolder;
  }
  p{
    font-size: 18px;
}
ion-item{
    font-size: 20px;
}
ion-card{
    margin-right:6%;
    border-radius: 30px;
}
.topicon{
    margin-left: 10px;
}
#container {
    text-align: center;
  
    left: 0;
    right: 0;
    top: 10%;
    transform: translateY(-50%);
    height: 100px;
    background: none;
    margin-top: 20%;
  }